# Container Images
FRONTEND_IMAGE=babanila/expensy_frontend:latest
BACKEND_IMAGE=babanila/expensy_backend:latest
REDIS_IMAGE=redis:7-alpine
MONGO_IMAGE=mongo:7

# Next.js Configuration
NEXT_PUBLIC_API_URL=/api


# Database Configuration
DB_USER=mongo
DB_PASSWORD=mongo
DB_USERNAME=mongo
DB_NAME=mongo
DB_PORT=27017

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example


# Redis Configuration
PORT=8706
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=someredispassword
DATABASE_URI=mongodb://root:example@mongo:27017


# K8S
NAMESPACE=expensy
INGRESS_NAMESPACE=ingress-nginx
NAME=babajide
